.u-section-1 .u-sheet-1 {
  min-height: 828px;
}

.u-section-1 .u-form-1 {
  height: 338px;
  margin: 126px 542px 0 28px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-image-1 {
  width: 512px;
  height: 340px;
  margin: -404px 22px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -340px auto 60px 99px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 0;
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 226px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -226px;
  }
}