.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 834px;
}

.u-section-1-1 .u-text-1 {
  width: 734px;
  margin: 455px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 0 31px;
}

.u-section-1-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  margin: 0 auto 60px;
  padding: 0;
}

.u-section-1-1 .u-icon-1 {
  font-size: 1.2em;
  color: rgb(44, 204, 196) !important;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-1-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1-1 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: -33px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/4.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 834px;
}

.u-section-1-2 .u-text-1 {
  width: 734px;
  margin: 455px auto 0;
}

.u-section-1-2 .u-text-2 {
  margin: 0 31px;
}

.u-section-1-2 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  margin: -10px auto 60px 485px;
  padding: 0;
}

.u-section-1-2 .u-icon-1 {
  font-size: 1.2em;
  color: rgb(44, 204, 196) !important;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: -16px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-1-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1-2 .u-text-1 {
    width: 340px;
  }

  .u-section-1-2 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: -17px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/3.jpeg");
}

.u-section-1-3 .u-sheet-1 {
  min-height: 834px;
}

.u-section-1-3 .u-text-1 {
  width: 734px;
  margin: 455px auto 0;
}

.u-section-1-3 .u-text-2 {
  margin: 0 31px;
}

.u-section-1-3 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  margin: -16px auto 60px;
  padding: 0;
}

.u-section-1-3 .u-icon-1 {
  font-size: 1.2em;
  color: rgb(44, 204, 196) !important;
}

@media (max-width: 1199px) {
  .u-section-1-3 {
    background-position: 50% 50%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 395px;
  }

  .u-section-1-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1-3 .u-text-1 {
    width: 340px;
  }

  .u-section-1-3 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: -33px;
  }
}.u-block-d63a-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d63a-3 {
  position: absolute;
  left: 0;
}

.u-block-d63a-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/sas.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 165px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 19px 258px 0 213px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 103px;
  min-width: 39px;
  margin: 27px auto 39px 496px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: 93px;
    margin-left: 177px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: 377px;
    margin-bottom: 31px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 58px;
    margin-right: 284px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-top: 32px;
    margin-right: 202px;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-2 .u-text-1 {
    height: 64px;
  }

  .u-section-2 .u-social-icons-1 {
    margin-right: auto;
  }
}.u-section-3 {
  background-image: url("images/unnamed.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 785px;
}

.u-section-3 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-gallery-1 {
  height: 495px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 479px;
    margin-bottom: 30px;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1672px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1468px;
    grid-template-columns: auto auto;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 4608px;
  }

  .u-section-3 .u-gallery-1 {
    height: 4404px;
    grid-template-columns: auto;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2977px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2773px;
    margin-left: initial;
  }
}